[Network]
Driver=bridge
DisableDNS=true
Gateway=10.100.2.1
IPRange=10.100.2.1/24
Subnet=10.100.2.1/24
IPv6=false
IPAMDriver=host-local
NetworkName=umami
PodmanArgs=-o=vlan=20
PodmanArgs=-o=com.docker.network.bridge.name=umami
PodmanArgs=-o=isolate=true
Internal=true
