[Unit]
Description=PostgreSQL for Umami
Requires=UMAMI.service
Before=UMAMI.service

[Container]
Image=docker.io/bitnami/postgresql:latest
ContainerName=umami-pgsql
Mount=type=bind,src=/home/overseer/AppData/4_DATABASES/UMAMI_PGSQL,dst=/bitnami/postgresql,U=true,Z
Secret=PGSQL__UMAMI_PW,type=env,target=POSTGRESQL_PASSWORD
Secret=PGSQL__UMAMI_USER,type=env,target=POSTGRESQL_USER
Environment=POSTGRESQL_DB=umamidb
Environment=POSTGRESQL_TIMEZONE=Europe/Warsaw
Environment=POSTGRESQL_LOG_TIMEZONE=Europe/Warsaw
AutoUpdate=registry
NoNewPrivileges=true
Network=UMAMI.network
IP=10.200.1.5

[Install]
WantedBy=default-user.target
