[Unit]
Description=MariaDB
Before=NGINX.service

[Service]
Restart=on-failure

[Install]
WantedBy=default-user.target

[Container]
Image=docker.io/library/mariadb:latest
ContainerName=MariaDB
Mount=type=bind,src=/home/overseer/AppData/4_DATABASES/MARIADB_CHYRP,dst=/var/lib/mysql,U=true,Z
Volume=${HOME}/AppData/1_CONFIGS/MY.CNF:/etc/mysql/my.cnf:ro,Z
Secret=MARIADB__ROOT_PW,type=env,target=MARIADB_ROOT_PASSWORD
Secret=MARIADB__DATABASE,type=env,target=MARIADB_DATABASE
Secret=MARIADB__PW,type=env,target=MARIADB_PASSWORD
Environment=MARIADB_ROOT_USER=root
Environment=MARIADB_USER=blog
Environment=ALLOW_EMPTY_PASSWORD=no
Environment=MARIADB_PORT_NUMBER=3389
Environment=DB_FLAVOR=mariadb
Environment=MARIADB_EXTRA_FLAGS=--max-connect-errors=1000 --max_connections=100
AutoUpdate=registry
User=mysql
NoNewPrivileges=true
Pod=CHYRP-LITE.pod