[Network]
Driver=bridge
DisableDNS=false
IPv6=false
IPAMDriver=host-local
NetworkName=nginx
PodmanArgs=-o=vlan=20
PodmanArgs=-o=com.docker.network.bridge.name=chyrp
PodmanArgs=-o=isolate=true
Internal=true
