[Unit]
Description=Caddy QoR

[Install]
WantedBy=default.target

[Service]
Restart=on-failure

[Container]
Image=docker.io/mrrubberducky/qor-caddy:latest-alpine
ContainerName=qor-caddy
# Sensitive Environments
Secret=CF__DNS_API,type=env,target=CF_API_TOKEN
Secret=CROWDSEC__LAPI_KEY,type=env,target=CROWDSEC_LAPI_KEY
Secret=ACME__EMAIL,type=env,target=ACME_EMAIL
# Normal Environments
Environment=CONFIG_PATH=/app/configs/Caddyfile
Environment=CADDY_ENVIRONMENT=prod
Environment=FQDN=rubberverse.xyz
Environment=ANALYTICS_ENDPOINT=https://analytics.rubberverse.xyz/api/send
# Configuration + Data persistence
Volume=${HOME}/AppData/1_CONFIGS/CADDYFILE:/app/configs/Caddyfile:ro,Z
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/CADDY_DATA,destination=/app/.local/share/caddy,U=true,Z
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/CADDY_CONFIG,destination=/app/.config/caddy,U=true,Z
Volume=CADDY-LOGS:/app/logs:rw,Z
# Auto Updates
AutoUpdate=registry
NoNewPrivileges=true
Network=pasta:--ipv4-only,-T,8080,-T,9001,-T,9002,-T,3000,-T,50000
PublishPort=127.0.0.1:8443:8443
SecurityLabelDisable=true
# User
User=caddy
# Just so I can browse files on filesystem and modify them in case I need to ever do so
UserNS=keep-id
