[Unit]
Description=Caddy QoR

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
Image=docker.io/mrrubberducky/qor-caddy:latest-alpine
ContainerName=qor-caddy
# Sensitive Environments
Secret=CF__DNS_API,type=env,target=CF_API_TOKEN
Secret=CROWDSEC__LAPI_KEY,type=env,target=CROWDSEC_LAPI_KEY
Secret=ACME__EMAIL,type=env,target=ACME_EMAIL
# Normal Environments
Environment=CONFIG_PATH=/app/configs/Caddyfile
Environment=CADDY_ENVIRONMENT=prod
Environment=FQDN=rubberverse.xyz
# Configuration + Data persistence
Volume=/home/overseer/AppData/1_CONFIGS/CADDYFILE:/app/configs/Caddyfile:ro,Z
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/CADDY_DATA,destination=/app/.local/share/caddy,U=true,Z
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/CADDY_CONFIG,destination=/app/.config/caddy,U=true,Z
#Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/CADDY_LOGS,destination=/app/logs,U=true,Z
Volume=CADDY-LOGS:/app/logs:rw,Z,U
# Auto Updates
AutoUpdate=registry
NoNewPrivileges=true
Pod=CADDY.pod
SecurityLabelDisable=true
# User
User=caddy
UserNS=keep-id