[Unit]
# Unit description
Description=Caddy QoR

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
# Base
Image=ghcr.io/rubberverse/qor-caddy:latest-alpine
ContainerName=qor-caddy
Timezone=Europe/Warsaw
# Secrets
Secret=ACME__EMAIL,type=env,target=ACME_EMAIL
Secret=CF__DNS_API,type=env,target=CF_API_TOKEN
Secret=CROWDSEC__LAPI_KEY,type=env,target=CROWDSEC_LAPI_KEY
# Environments
Environment=CONFIG_PATH=/app/configs/Caddyfile
Environment=CADDY_ENVIRONMENT=prod
Environment=FQDN=rubberverse.xyz
# Volumes
Volume=${HOME}/AppData/1_CONFIGS/CADDYFILE:/app/configs/Caddyfile:ro,Z
Volume=${HOME}/AppData/3_USER/html:/app/www/html:ro,Z
Volume=CADDY-LOGS:/app/logs:rw,z,U
# Mounts
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/CADDY_DATA,destination=/app/.local/share/caddy,U=true,Z
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/CADDY_CONFIG,destination=/app/.config/caddy,U=true,Z
# Labels
AutoUpdate=registry
NoNewPrivileges=true
# Capabilities
DropCapability=all
# Container User
User=caddy
# Pod
Pod=CADDY.pod
StartWithPod=true
