[Unit]
Description=Umami Analytics
Requires=UMAMI-PGSQL.service

[Service]
Restart=on-failure

[Install]
WantedBy=default-user.target

[Container]
Image=docker.io/umamisoftware/umami:postgresql-latest
ContainerName=umami
Secret=UMAMI__DB_URL,type=env,target=DATABASE_URL
Secret=UMAMI__HASH_SALT,type=env,target=HASH_SALT
Secret=UMAMI__APP_SECRET,type=env,target=APP_SECRET
Environment=DATABASE_TYPE=postgresql
Environment=DISABLE_TELEMETRY=1
Environment=REMOVE_TRAILING_SLASH=1
Environment=CLIENT_IP_HEADER="Client_ip"
Environment=PRIVATE_MODE=1
Environment=IGNORE_IP=127.0.0.1
Environment=TZ=Europe/Warsaw
Tmpfs=/home/nextjs/.yarn
Tmpfs=/home/nextjs/.cache
AutoUpdate=registry
NoNewPrivileges=true
User=nextjs
Network=UMAMI.network