[Unit]
Description=Cloudflare - Zero Trust Tunnel

[Install]
WantedBy=default-user.target
Requires=network-online.target
After=network-online.target

[Container]
Image=docker.io/cloudflare/cloudflared:latest
ContainerName=cloudflared
Secret=CLOUDFLARED__TOKEN,type=env,target=TUNNEL_TOKEN
Exec=tunnel --no-autoupdate run
AutoUpdate=registry
NoNewPrivileges=true
Network=DMZ.network
IP=10.20.1.24
User=nonroot
UserNS=keep-id
