[Network]
Driver=bridge
DisableDNS=true
Gateway=10.100.1.1
IPRange=10.100.1.1/24
Subnet=10.100.1.1/24
IPv6=false
IPAMDriver=host-local
NetworkName=nginx
PodmanArgs=-o=vlan=20
PodmanArgs=-o=com.docker.network.bridge.name=chyrp
PodmanArgs=-o=isolate=true
Internal=true
