[Unit]
Description=NGINX Container
Requires=MARIADB.service
After=MARIADB.service

[Container]
# https://github.com/Rubberverse/qor-nginx
Image=docker.io/mrrubberducky/qor-chyrplite:latest-debian
ContainerName=nginx
Mount=type=bind,src=/home/overseer/AppData/3_USER/CHYRPLITE/includes,dst=/app/www/chyrp/includes,U=true,Z
Mount=type=bind,src=/home/overseer/AppData/3_USER/CHYRPLITE/uploads,dst=/app/www/chyrp/uploads,U=true,Z
Mount=type=bind,src=/home/overseer/AppData/3_USER/CHYRPLITE/sitemap.xml,dst=/app/www/chyrp/sitemap.xml,U=true,Z
Volume=${HOME}/AppData/1_CONFIGS/blank:/app/www/chyrp/install.php:ro,Z
Volume=${HOME}/AppData/1_CONFIGS/blank:/app/www/chyrp/upgrade.php:ro,Z
# Favicon xddd
Volume=${HOME}/AppData/3_USER/CHYRPLITE/themes/umbra/layouts/default.twig:/app/www/chyrp/themes/umbra/layouts/default.twig:rw,Z
Volume=${HOME}/AppData/3_USER/CHYRPLITE/favicon.svg:/app/www/chyrp/favicon.svg:rw,Z
Volume=${HOME}/AppData/3_USER/CHYRPLITE/favicon.ico:/app/www/chyrp/favicon.ico:rw,Z
Volume=${HOME}/AppData/3_USER/CHYRPLITE/favicon-48x48.png:/app/www/chyrp/favicon-48x48.png:rw,Z
Volume=${HOME}/AppData/3_USER/CHYRPLITE/apple-touch-icon.png:/app/www/chyrp/apple-touch-icon.png:rw,Z
Volume=${HOME}/AppData/3_USER/CHYRPLITE/web-app-manifest-192x192.png:/app/www/chyrp/web-app-manifest-192x192.png:rw,Z
Volume=${HOME}/AppData/3_USER/CHYRPLITE/web-app-manifest-512x512.png:/app/www/chyrp/web-app-manifest-512x512.png:rw,Z
Volume=${HOME}/AppData/3_USER/CHYRPLITE/site.webmanifest:/app/www/chyrp/site.webmanifest:rw,Z
Environment=PROCESS_MANAGER=static
Environment=PM_MAX_CHILDREN=2
Environment=PM_START_SERVERS=2
Environment=PM_MIN_SPARE_SERVERS=1
Environment=PM_MAX_SPARE_SERVERS=1
Environment=NGINX_VALID_REFS="blog.rubberverse.xyz rubberverse.xyz"
User=nginx_user
AutoUpdate=registry
NoNewPrivileges=true
Network=NGINX.network
IP=10.100.1.2
PublishPort=127.0.0.1:9001:9001

[Install]
WantedBy=default.target
