[Unit]
Description=Sharkey Web Component
Requires=SHARKEY-PGSQL.service
Before=SHARKEY-WEB.service

[Service]
Restart=always

[Install]
WantedBy=default.target

[Container]
Image=docker.io/library/redis:7.4.0
Mount=type=bind,src=/home/overseer/AppData/4_DATABASES/SHARKEY_REDIS,dst=/data,U=true,Z
Volume=${HOME}/AppData/1_CONFIGS/REDIS.CONF:/usr/local/etc/redis/redis.conf:ro,U,Z
Environment=TZ=Europe/Warsaw
ContainerName=sharkey-redis
HealthCmd=redis-cli ping
HealthInterval=5s
HealthRetries=20
HealthTimeout=5s
Notify=healthy
Exec=redis-server /usr/local/etc/redis/redis.conf
User=redis
UserNS=keep-id
Pod=SHARKEY.pod