[Unit]
Description=Meilisearch
Requires=SHARKEY-REDIS.service
Before=SHARKEY-WEB.service

[Service]
Restart=on-failure

[Container]
Image=localhost/meilisearch:latest
ContainerName=sharkey-meilisearch
Secret=MEILI__MASTER_KEY,type=env,target=MEILI_MASTER_KEY
Environment=MEILI_NO_ANALYTICS=true
Environment=MEILI_ENV=production
Volume=${HOME}/AppData/2_PERSIST/MEILISEARCH:/meili_data:rw,rbind,U,Z
User=meilisearch
UserNS=keep-id
Pod=SHARKEY.pod