[Unit]
Description=Sharkey Web Component
Requires=SHARKEY-PGSQL.service
Requires=SHARKEY-REDIS.service
Requires=SHARKEY-MEILI.service

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
Image=localhost/sharkey:latest
ContainerName=sharkey-web
Secret=PGSQL__SHARKEY_PW,type=env,target=POSTGRES_PASSWORD
Secret=PGSQL__SHARKEY_USER,type=env,target=POSTGRES_USER
Secret=PGSQL__SHARKEY_DB_URL,type=env,target=DATABASE_URL
Environment=MISSKEY_URL=https://social.rubberverse.xyz
Environment=POSTGRES_DB=sharkeydb
Mount=type=bind,src=/home/overseer/AppData/2_PERSIST/SHARKEY,dst=/sharkey/files,U=true,Z
Volume=${HOME}/AppData/1_CONFIGS/SHARKEY:/sharkey/.config:ro,Z,rbind,U
User=sharkey
UserNS=keep-id
Pod=SHARKEY.pod