[Unit]
Description=readeck

[Service]
Restart=on-failure

[Container]
Image=codeberg.org/readeck/readeck:latest
ContainerName=readeck
Environment=READECK_SERVER_PORT=50000
Mount=type=bind,src=/home/overseer/AppData/2_PERSIST/READECK,dst=/readeck,U=true,Z
Exec=readeck serve -config /readeck/config.toml
User=nobody
AutoUpdate=registry
NoNewPrivileges=true
Pod=READECK.pod

[Install]
WantedBy=default.target
