seta sv_hostname "${QUAKEJS_HOSTNAME}"
seta sv_maxclients ${QUAKEJS_MAX_CLIENTS}
seta g_motd "${QUAKEJS_MOTD}"
seta g_quadfactor ${QUAKEJS_QUADFACTOR}
seta g_gametype ${QUAKEJS_GAMETYPE}
seta timelimit ${QUAKEJS_TIMELIMIT}
seta fraglimit ${QUAKEJS_FRAGLIMIT}
seta g_weaponrespawn ${QUAKEJS_WEAPONRES}
seta g_inactivity ${QUAKEJS_INACTIVITY}
seta g_forcerespawn ${QUAKEJS_FORCERESPAWN}
seta rconpassword "${QUAKEJS_RCONPASS}"
${QUAKEJS_D_SETTINGS}
${QUAKEJS_VSTR}
