[Unit]
Description=Feishin Player

[Service]
Restart=on-failure

[Container]
Image=ghcr.io/jeffvli/feishin:latest
ContainerName=feishin
# No default rootless user so have to workaround nginx permission issues like this
Tmpfs=/var/cache/nginx:U
Tmpfs=/var/run:U
Volume=nginx-conf:/etc/nginx:rw,U
Environment=SERVER_NAME=jellyfin
Environment=SERVER_LOCK=true
Environment=SERVER_TYPE=jellyfin
Environment=SERVER_URL=
AutoUpdate=registry
NoNewPrivileges=true
PublishPort=127.0.0.1:9180:9180
User=nobody

[Install]
WantedBy=default.target
