# Jellyfin for music yayyyyyyyyy
# If only they fixed the weird music library ghosting that requires a whole media scan that takes 1 hour+ when you sort or retag...
[Unit]
Description=Jellyfin

[Service]
Restart=on-failure

[Container]
Image=ghcr.io/jellyfin/jellyfin:latest
ContainerName=jellyfin
User=1001:1001
UserNS=keep-id
Environment=JELLYFIN_PublishedServerUrl=
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/JELLYFIN_CONFIG,destination=/config,U=true,Z
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/JELLYFIN_CACHE,destination=/cache,U=true,Z
# 500GB USB Storage mounted to a Proxmox VM then into the container as a bind mount (moment)
Mount=type=bind,source=/media/Music,destination=/media,Z,ro=true,U=true
AutoUpdate=registry
NoNewPrivileges=true
# Pasta lags it to piss
Network=host

[Install]
WantedBy=default.target
