[Unit]
Description=Medama

[Service]
Restart=always

[Install]
WantedBy=default-user.target

[Container]
Image=ghcr.io/medama-io/medama:latest
ContainerName=medama
Environment=CORS_ALLOWED_ORIGINS=https://*.rubberverse.xyz https://rubberverse.xyz
Environment=PORT=3000
Mount=type=bind,src=/home/overseer/AppData/2_PERSIST/medama,dst=/app/data,U,Z
AutoUpdate=registry
NoNewPrivileges=true
User=nonroot
Pod=MEDAMA.pod