[Unit]
Description=KMS - Key Managment Service, used for Windows & Office activations

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
# Base
Image=ghcr.io/py-kms-organization/py-kms:python3-next
ContainerName=kms
Environment=IP=0.0.0.0
Environment=TZ=Europe/Warsaw
Environment=LOGLEVEL=INFO
Environment=HWID=RANDOM
# Volumes
Volume=${HOME}/AppData/2_PERSIST/PYKMS:/home/py-kms/db:U,z
# Updated KMS Database file
Volume=${HOME}/AppData/3_USER/KmsDataBase.xml:/home/py-kms/KmsDataBase.xml:ro,Z
# Needed for private IPC
Tmpfs=/dev/shm
# Networks
Network=pasta:--ipv4-only
# KMS port
PublishPort=0.0.0.0:1688:1688/tcp
# Dashboard port
PublishPort=127.0.0.1:9012:8080/tcp
# User
User=1001:1001
