[Unit]
Description=Syncthing

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
# Base
Image=docker.io/syncthing/syncthing:latest
ContainerName=syncthing
# Mounts
Mount=type=bind,src=/home/overseer/AppData/3_USER/Syncthing,destination=/var/syncthing,Z,U
# Ports
Network=pasta:--ipv4-only
# Web UI
PublishPort=0.0.0.0:9010:8384
# TCP File Transfers
PublishPort=0.0.0.0:22000:22000/tcp
# UDP File Transfers
PublishPort=0.0.0.0:22000:22000/udp
# Local Discovery Broadcasts
PublishPort=0.0.0.0:21027:21027/udp
# Users
User=1001:1001
UserNS=auto
# Labels
AutoUpdate=registry
NoNewPrivileges=true
DNS=10.30.1.253
