[Unit]
Description=qor-frpc

[Service]
Restart=on-failure

[Container]
Image=docker.io/mrrubberducky/qor-frp:latest-frpc
ContainerName=qor-frpc
Secret=FRP__CLIENT_CERT,type=mount,target=/app/certs/client.crt,uid=1001,gid=1001,mode=0440
Secret=FRP__CLIENT_KEY,type=mount,target=/app/certs/client.key,uid=1001,gid=1001,mode=0440
Secret=FRP__CA_CERT,type=mount,target=/app/certs/ca.crt,uid=1001,gid=1001,mode=0440
Volume=${HOME}/AppData/1_CONFIGS/FRPC_NEW.TOML:/app/configs/frpc.toml:ro,Z
User=frp_uclient
UserNS=keep-id
ReadOnly=true
AutoUpdate=registry
NoNewPrivileges=true
Pod=FRPC.pod

[Install]
WantedBy=default.target