[Unit]
Description=certwarden

[Service]
Restart=on-failure

[Container]
Image=ghcr.io/gregtwallace/certwarden:latest
ContainerName=certwarden
Mount=type=bind,src=/home/overseer/AppData/2_PERSIST/CERTWARDEN_DATA,dst=/app/data,rw,U=true,Z
# Running as rootless user workaround, otherwise you get connection error
Volume=certwarden-script:/app/scripts/:U
Volume=certwarden-front:/app/frontend_build/:U
AutoUpdate=registry
NoNewPrivileges=true
# http
PublishPort=0.0.0.0:4050:4050
# https
PublishPort=0.0.0.0:4055:4055
User=1001:1001
UserNS=keep-id

[Install]
WantedBy=default.target
