[Unit]
Description=ReDucky redbot
After=network-online.target
Wants=network-online.target

[Service]
# Need to manually set variables and stuff in order for it to launch from a non-standard directory user for some reason?
ExecStart=/bin/sh -c '/var/lib/redenv/setenv.sh'
User=reducky
Type=idle
Restart=on-abnormal
RestartSec=15
RestartForceExitStatus=1
RestartForceExitStatus=26
TimeoutStopSec=10

[Install]
WantedBy=default.target
