[Unit]
Description=PostgreSQL for FreshRSS
Requires=FRESHRSS.service
Before=FRESHRSS.service

[Container]
Image=docker.io/bitnami/postgresql:latest
ContainerName=freshrss-pgsql
Mount=type=bind,src=/home/overseer/AppData/4_DATABASES/FRESHRSS_PGSQL,dst=/bitnami/postgresql,U=true,Z
Secret=PGSQL__FRESHRSS_PW,type=env,target=POSTGRESQL_PASSWORD
Secret=PGSQL__FRESHRSS_USER,type=env,target=POSTGRESQL_USER
Environment=POSTGRESQL_DB=freshrssdb
Environment=POSTGRESQL_TIMEZONE=Europe/Warsaw
Environment=POSTGRESQL_LOG_TIMEZONE=Europe/Warsaw
AutoUpdate=registry
NoNewPrivileges=true
IP=10.100.3.3
Network=FRESHRSS.network

[Install]
WantedBy=default-user.target
