{
	# General configuration
	http_port 8181
	https_port 8443
	# Admin endpoint for configuration reload, only listens on localhost
	admin 127.0.0.1:2019 {
		origins localhost 127.0.0.1:2019
		enforce_origin
	}
	# Plugin ordering
	order crowdsec first
	order umami after route
	order rate_limit after basic_auth
	# Default caddy log, outputs to container stdout
	log default {
		output stdout
		level INFO
		format json
	}
	# ACME Certificate Authority URL, email to use and ocsp stapling interval
	acme_ca https://acme-v02.api.letsencrypt.org/directory
	email {$ACME_EMAIL}
	ocsp_interval 3d
	servers {
		listener_wrappers {
			# Required for Source IP when proxying Caddy via frpc <-> frps (out, 443)
			proxy_protocol {
				timeout 5s
				allow 127.0.0.1/8 vps_ip/32
				deny 10.0.0.0/8
				fallback_policy reject
			}
			# proxy_protocol needs to be before tls, otherwise it won't work.
			http_redirect
			proxy_protocol
			tls
		}
		trusted_proxies combine {
			# Trust cloudflre proxies
			cloudflare {
				interval 12h
				timeout 30s
			}
			static vps_ip/32 private_ranges
		}
		trusted_proxies_strict
	}
	# Crowdsec Caddy bouncer configuration
	crowdsec {
		api_url http://localhost:8080
		api_key {$CROWDSEC_LAPI_KEY}
		ticker_interval 15s
	}
}
(prod_headers) {
	header {
		Permissions-Policy "cross-origin-isolated=(self)"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Access-Control-Allow-Origin "https://rubberverse.xyz, https://*.rubberverse.xyz"
		Cross-Origin-Opener-Policy "same-origin-allow-popups"
		Cross-Origin-Resource-Policy "cross-origin"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		X-Frame-Options "SAMEORIGIN"
		X-Robots-Tag "nofollow, noimageindex"
		Referrer-Policy "same-origin"
	}
}
(dns_tls) {
	tls {
		dns cloudflare {$CF_API_TOKEN}
		resolvers 1.1.1.1 1.0.0.1
	}
}
(compress) {
	@senscache {
		not path /includes/ /admin/ /login/ /logout/ /controls/ /ajax/ /send/api /api/ /feed/
	}
	encode @senscache zstd gzip
}
# Rubberverse.xyz
www.{$FQDN} {
	crowdsec
	import dns_tls
	redir https://blog.rubberverse.xyz{uri} permanent
}
blog.{$FQDN} {
	crowdsec
	import dns_tls
	import prod_headers
	import compress
	reverse_proxy localhost:9001
	#@noadmin {
	#	not path /uploads/ /includes/ /admin/ /login/ /logout/ /controls/ /ajax/
	#}
	#umami @noadmin {
	#	event_endpoint "{$ANALYTICS_ENDPOINT}"
	#	# It doesn't really matter it's here since umami wasn't set up yet.
	#   	# seems to wipe it's own database anyways on fresh container for whatever reason.
	#	website_uuid "477b57ef-fa4d-49af-8c1c-f7df17cf7c48"
	#	allowed_extensions "" .htm .html .php
	#	static_metadata {
	#		service chyrp-lite
	#	}
	#}
	log {
		output file /app/logs/blog.log {
			roll_size 20M
			roll_uncompressed
			roll_keep_for 3d
		}
	}
}
analytics.{$FQDN} {
	crowdsec
	import dns_tls
	import prod_headers
	import compress
	reverse_proxy localhost:3000
	header Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization {
		defer
	}
	header * {
		+Access-Control-Allow-Methods "GET, POST, OPTIONS"
	}
	log {
		output file /app/logs/analytics.log {
			roll_size 20M
			roll_uncompressed
			roll_keep_for 3d
		}
	}
}
